#box_wrapper {
  width: 10rem;
  height: 10rem;
}

#box_title {
  background-color: aqua;
}

#box_content {
  background-color: bisque;
}

#pop_over {
  display: flex;
  position: absolute;
  left: 50px;
  top: 50px;
  background-color: aquamarine;
}
