/* Setting */
.Setting {
  background-color: blanchedalmond;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.Title {
  background-color: burlywood;
}

.Message {
  background-color: chocolate;
}

.ProgressBar {
  background-color: cornflowerblue;
}

.VowelInputPaner {
  background-color:darkgreen;
  width: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}